* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.btn {
  padding: 10px 17px;
  border: 1px solid #171717;
  margin: 1rem 0;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  color: #3c948b;
}

img {
  width: 210px;
  height: 295px;
  object-fit: cover;
}

/* NavBar*/

.navbar {
  padding: 1rem;
  background: #171717;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo a{
  font-size: 1.4rem;
  color: #f4f4f4;
  text-decoration: none;
}

.nav-logo a:hover {
  color: #3c948b
}


/* Search Bar*/

.search-form > input {
  padding: 10px 17px;
  border: 1px solid #171717;
  background: #f4f4f4;
  color: #171717;
  font-size: 20px;
  outline-width: 0;
}

/*ShowList*/
.listshow {
  text-decoration: none;
  width: 210px;
  background: #f4f4f4;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  margin: 1rem auto;
  cursor: pointer;
  display: inline-block;
}

.listshow:hover {
  transform: scale(1.03);
}

.listshow-info {
  color: #171717;
  text-align: center;
}

.info-name {
  font-size: 1rem;
  padding: 5px;
}

.info-rating {
  color: #3c948b;
  padding: 5px;
}

.home-list-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/*Single Show*/
.singleshow {
  display: flex;
  margin: 2rem 0;
}

.singleshow > img {
  margin-right: 2rem;
}

.singleshow-info p {
  margin: 1rem 0;
}

.singleshow-genre {
  display: inline-block;
  border-radius: 15px;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 10px 17px;
  background: #3c948b;
  color: #f4f4f4;
}

/*All List*/

.listshow {
  margin-right: 1rem;
  align-items: center;
}

.showcategory {
  margin: 1rem auto;
  background: #3c948b;
  text-transform: capitalize;
  font-weight: 900;
}


/*Loading*/
.loading {
  text-align: center;
}

